<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="chattingMapper">

<!-- type은 mybatis-config에서 chatRoom 라는 별칭을 정해두었음 -->
<resultMap type="chatRoom" id="chatResultSet" >
	  <id column="CHAT_ROOM_NO" property="chatRoomNo"/>
	  <result column="USER_NO" property="userNo"/>
	  <result column="USER_NO_2" property="purchaseNo"/>
	  <result column="SELL_NO" property="sellNo"/>
	  <result column="STATUS" property="status"/>
	  <result column="CREATE_DATE" property="createDate"/>
	  <result column="CREATE_DATE_2" property="chatDate"/>
	  <result column="AVG" property="avg"/>
	  <result column="SELL_TITLE" property="sellTitle"/>
</resultMap>


<resultMap type="chatMessage" id="chatMessageResultSet" >
      <id column="CHAT_NO" property="chatNo"/>
      <result column="CHATROOM_NO" property="chatRoomNo"/>
      <result column="USER_NO" property="userNo"/>
      <result column="CHAT_CONTENT" property="chatContent"/>
      <result column="CREATE_DATE" property="createDate"/>
      <result column="READ_STATUS" property="readStatus"/>
</resultMap>

<resultMap type="block" id="blockResultSet" >
      <id column="BLOCK_NO" property="blockNo"/>
      <result column="BLOCKER_NO" property="blockerNo"/>
      <result column="BLOCKED_NO" property="blockedNo"/>
</resultMap>



 <!-- 채팅방 목록 조회 -->
 <select id="selectChatRoomList" parameterType="int" resultMap="chatResultSet">
    SELECT  C.CHATROOM_NO AS "CHAT_ROOM_NO",
            S.USER_NO AS "USER_NO" ,
	        M.USER_NO AS "USER_NO_2",
	        CM.CREATE_DATE AS "CREATE_DATE_2",
	        C.CREATE_DATE AS "CREATE_DATE",
            S.SELL_NO AS "SELL_NO",
	       	SUBSTR(S.SELL_TITLE, 1, 10)AS "SELL_TITLE",
	        AVG
	FROM CHAT_ROOM C
	LEFT JOIN MEMBER M ON(C.USER_NO = M.USER_NO)
	LEFT JOIN (SELECT MAX(CREATE_DATE) AS CREATE_DATE, 
                      CHATROOM_NO 
               FROM CHAT_MESSAGE 
               GROUP BY CHATROOM_NO) CM ON (C.CHATROOM_NO = CM.CHATROOM_NO)
	JOIN SELL S ON(C.SELL_NO = S.SELL_NO)
	JOIN (  SELECT AVG(REV_SCORE) AS "AVG",
	           	    S.USER_NO
	        FROM REVIEW R
	        JOIN SELL S ON (S.SELL_NO = R.SELL_NO)
	        WHERE R.STATUS = 'Y'
	        GROUP BY S.USER_NO) PP ON (S.USER_NO = PP.USER_NO)
	WHERE C.USER_NO = 10 AND C.STATUS = 'Y' AND M.STATUS = 'Y' AND S.STATUS = 'Y' 
	ORDER BY CM.CREATE_DATE DESC
 </select>
 
 <!-- 채팅방 나가기(삭제) -->
 <delete id="exitChatRoom" parameterType="int">
 	DELETE 
 	FROM CHAT_ROOM_JOIN
	WHERE USER_NO = #{userNo} AND CHAT_ROOM_NO = #{chatRoomNo}
 </delete>

 <select id="selectBlockList" resultMap="blockResultSet" >
 	SELECT * 
 	FROM BLOCK
 </select>






   
</mapper>