<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

<!-- type은 mybatis-config에서 member 라는 별칭을 정해두었음 -->
<resultMap type="member" id="memberResultSet">
   	<id column="USER_NO" property="userNo"></id>
	<result column="USER_NAME" property="userName"></result>
	<result column="PHONE" property="phone"></result>
	<result column="BIRTH" property="birth"></result>
	<result column="EMAIL" property="email"></result>
	<result column="COUNT" property="count"></result>
	<result column="CREATE_DATE" property="createDate"></result>
	<result column="STATUS" property="status"></result>
</resultMap>

<!-- 입력한 정보로 가입한 회원여부 확인 -->
<select id="selectExistenceStatus" parameterType="member" resultType="int">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE STATUS = 'Y' 
	AND
	<choose>
		<when test="phone != null">
			PHONE = #{phone}
		</when>
		<when test="email != null">
			EMAIL = #{email}
		</when>
	</choose>
</select>

<!-- 회원가입 -->
<insert id="insertMember" parameterType="member">
	<if test="phone != null">
	INSERT INTO MEMBER (USER_NO, USER_NAME, PHONE, BIRTH) 
	VALUES (SEQ_MNO.NEXTVAL ,#{userName}, #{phone}, #{birth})
	</if>
	<if test="email != null">
	INSERT INTO MEMBER (USER_NO, USER_NAME, EMAIL , BIRTH) 
	VALUES (SEQ_MNO.NEXTVAL ,#{userName}, #{email}, #{birth})
	</if>
</insert>

<!-- 로그인한 회원객체 select -->
<select id="loginAndMemberEnroll" parameterType="member" resultMap="memberResultSet">
	SELECT *
	FROM MEMBER
	WHERE STATUS = 'Y' 
	AND 
	<if test="phone != null">
			PHONE = #{phone}
	</if>
	<if test="email != null">
			EMAIL = #{email}
	</if>
</select>

   
</mapper>