<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reportMapper">

<!-- type은 mybatis-config에서 report 라는 별칭을 정해두었음 -->
<resultMap type="report" id="reportResultSet" >
	  <id column="REPORT_NO" property="reportNo"/>
	  <result column="REPORTER_NO" property="reporterNo"/>
	  <result column="REPORTED_NO" property="reportedNo"/>
	  <result column="REPORT_CONTENT" property="reportContent"/>
	  <result column="CREATE_DATE" property="createDate"/>
	  <result column="STATUS" property="status"/>
	  <result column="REPORT_COUNT" property="reportCount"/>
</resultMap>

<!-- 신고리스트에 추가 -->
<insert id="addReport" parameterType="report">
	INSERT INTO REPORT (REPORT_NO, REPORTER_NO, REPORTED_NO, REPORT_CONTENT, CREATE_DATE, STATUS)
	VALUES (SEQ_RPNO.NEXTVAL, #{reporterNo}, #{reportedNo}, #{reportContent}, SYSDATE, DEFAULT)
</insert>

<!-- 신고 리스트 조회(불러오기) -->
 <select id="reportSearchResult" resultMap="reportResultSet" parameterType="String">
	SELECT 
		REPORT_NO,
		REPORTED_NO,
		REPORT_CONTENT,
	    R.CREATE_DATE AS "CREATE_DATE"
	FROM REPORT R
	JOIN MEMBER M ON (REPORTED_NO = USER_NO)
	WHERE REPORTED_NO = #{reportedNo} 
	  AND REPORTED_NO LIKE '%${search}%' 
	GROUP BY REPORT_NO, REPORTED_NO, REPORT_CONTENT, R.CREATE_DATE
</select>

<!-- 신고당한 총 횟수 -->
<select id="reportNumber" parameterType="String" resultType="int" >
	SELECT 
		COUNT(REPORTED_NO) AS "REPORT_COUNT"
	FROM REPORT
    WHERE REPORTED_NO = #{search}
</select>

<!-- 신고당한 총 횟수2 -->
<select id="selectReportCount" parameterType="report" resultType="int">
	SELECT 
		COUNT(REPORTED_NO) AS "REPORT_COUNT"
	FROM REPORT
    WHERE REPORTED_NO = #{reportedNo} 
</select>



</mapper>