<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reviewMapper">

<!-- type은 mybatis-config에서 review 라는 별칭을 정해두었음 -->

<resultMap type="review" id="reviewResultSet" >

	<id column="REV_NO" property="revNo"/>
	<result column="SELL_NO" property="sellNo"></result>
	<result column="REV_CONTENT" property="revContent"></result>
	<result column="USER_NO" property="userNo"></result>
	<result column="CREATE_DATE" property="createDate"></result>
	<result column="STATUS" property="status"></result>
	<result column="REV_SCORE" property="revScore"></result>
	
	<result column="RAVG" property="ravg"></result>
	
	
	




</resultMap>

	<select id="mypageReviewList" parameterType="int" resultMap="reviewResultSet">
		  select
       DISTINCT R.REV_NO,
       R.SELL_NO,
       R.USER_NO,
       R.REV_CONTENT,
       R.CREATE_DATE,
       RAVG
    FROM MEMBER M 
    LEFT JOIN SELL S ON M.USER_NO = S.USER_NO
    LEFT JOIN REVIEW R ON S.SELL_NO = R.SELL_NO
    LEFT JOIN PURCHASE P ON R.USER_NO = P.USER_NO
    LEFT JOIN (SELECT AVG(REV_SCORE) AS "RAVG", S.USER_NO 
                    FROM REVIEW RE 
                    LEFT JOIN PURCHASE P ON(RE.USER_NO=P.USER_NO)
                    LEFT JOIN SELL S ON (P.SELL_NO=S.SELL_NO)
             GROUP BY S.USER_NO) A ON (A.USER_NO=P.USER_NO)
    WHERE R.STATUS = 'Y' AND M.USER_NO = #{userNo}
	</select>
	
	<!-- 후기 등록 -->
	<insert id="reviewInsert" parameterType="map">
		INSERT INTO REVIEW (REV_NO, SELL_NO, USER_NO, REV_CONTENT, REV_SCORE)
		VALUES(SEQ_RNO.NEXTVAL, #{sellNo}, #{userNo}, #{reviewContent}, #{score})
	</insert>
	
	<!-- 후기 상세 -->
	<select id="reviewDetail" parameterType="map" resultMap="reviewResultSet">
		SELECT * FROM REVIEW R
		LEFT JOIN MEMBER M ON(R.USER_NO = M.USER_NO)
		WHERE M.USER_NO = #{userNo} AND R.SELL_NO = #{sellNo}
	</select>
	
	<!-- 후기 수정 -->
	<update id="reviewUpdate" parameterType="map">
		UPDATE REVIEW
		SET REV_SCORE = #{score},
		    REV_CONTENT = #{reviewContent},
		    CREATE_DATE = SYSDATE
		WHERE SELL_NO = #{sellNo} AND USER_NO = #{userNo}
	</update>
	
	
	<!-- 후기 삭제 -->
	<delete id="reviewDelete" parameterType="map">
		DELETE FROM REVIEW
		WHERE SELL_NO = #{sellNo} AND USER_NO = #{userNo}
	</delete>

</mapper>