<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="sellMapper">


<!-- type은 mybatis-config에서 sell 라는 별칭을 정해두었음 -->
<resultMap type="sell" id="sellResultSet" >

<id column="SELL_NO" property="sellNo"></id>
	<result column="USER_NO" property="userNo"></result>
	<result column="CATEGORY_NO" property="categoryNo"></result>
	<result column="SELL_TITLE" property="sellTitle"></result>
	<result column="SELL_CONTENT" property="sellContent"></result>
	<result column="IMAGE_SRC" property="imgSrc"></result>
	<result column="COUNT" property="count"></result>
	<result column="PRICE" property="price"></result>
	<result column="SELL_STATUS" property="sellStatus"></result>
	<result column="CREATE_DATE" property="createDate"></result>
	<result column="UPDATE_DATE" property="updateDate"></result>
	<result column="STATUS" property="status"></result>




</resultMap>

	



</mapper>