@charset "UTF-8";

.main-section {
	   width: 1000px;
	    padding-top: 90px;
	    margin: auto;
    }	 


.content2 {
		width: 100%;
}


	.list-area {
		
		margin: auto;
	}
	
	.list-area thead{
	
	border-top: 1px solid rgb(30, 29, 41);
    border-bottom: 1px solid rgb(30, 29, 41);
	}
	
	tr>td{
		    vertical-align: middle;
    padding: 0.5rem;
    line-height: normal;
}
	}
	
	/* 상점 정보 밑에 div css*/
	#mForm{
		    width: 1000px;
		    padding-left: 70px;
		    border: 1px;
	}
	
	 .mform{
		    padding: initial;
		    margin-left: auto;
		    margin-right: auto;
		}
	
	/*버튼들*/
		.list-b{
		    display: flex;
		    height: 50px;
		    text-align:center;
    	}
    	
		.list-content button{
		    flex: 1 1 0%;
		    align-items: center;
		    justify-content: center;
		    display: flex;
		    border: 1px solid rgb(253, 233, 231);
		    background: rgb(253, 233, 231);
		    border-radius:15px;
		    font-size:17px;
		    font-weight:800;
		}
        
        .list-content button>span{
        	font-family: 'koverwatch';
        	font-size: 20px;
        }
       
       
    #updateBtn{
    	margin: auto;
	    width: 300px;
	    height: 60px;
	    background-color: #f9c0a2;
	    font-size: 23px;
	    border: 2px solid;
	    border-radius: 12px;
    }   
   
   /* 리뷰 별점 */     
   .star-rating {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
  
      margin: auto;
    margin-left: %;
    width: 700px;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
  font-size: 100px;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

/* explanation */

article {
  background-color:#ffe;
  box-shadow:0 0 1em 1px rgba(0,0,0,.25);
  color:#006;
  font-family:cursive;
  font-style:italic;
  margin:4em;
  max-width:30em;
  padding:2em;
}


.over-img {  

    opacity: 0.6;
    background-color: gray;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    /* margin-left: 40%; */
    top: 0;
    position: absolute;
    left: 0;
}


