@charset "UTF-8";

.category_box1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0px 20px;
            border-bottom: 1px solid black;
        }
        .gocate_categy {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        }
        .gocate_categy2 {
            display: flex;
            align-items: center;
            height: 28px;
            font-size: 20px;
        }
        .gocate_categy2 > img {
            width : 15px; 
            height : 15px;
        }
        .gocate_categy3 {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
        .gocate_categy3 > img {
            width : 6px; 
            height : 10px;
            margin: 0px 10px;
        }
        
        #displayHeader a{
        	padding-right:15px;
        	font-size:20px;
        	font-weight:bold;
        }
        
        #displayHeader a:hover{
        	color: orange;
        	text-decoration: underline;
        }