@charset "UTF-8";

/* 공통적으로 들어가는 css start */
body{
    font-family: 'koverwatch';
    padding: 0px;
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}
/* 공통적으로 들어가는 css end */


/* header start */
.headerbar{
    width: 100%;
    height: 120px;
    background-color: pink;
    position: sticky;
    top:0;
    z-index: 1;
    
}
.header1 {
    position: sticky;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 35px;
    background: rgb(253, 253, 231);
    z-index: 10;
    border-bottom: 1px solid rgb(238, 238, 238);
    top: 0px;
    left: 0px;
}
.header3 {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 40px;
}

.logo {
    margin-right: 100px;
    width: 136px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}
.etIgxm {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-left: 70px;
}

.items {
    margin-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 5px;
    width: 145px;
    height: 45px;
    outline: none;
    border: none;
    font-weight: lighter;
}
.accountBankButton{
	display: flex;
	all: unset; 
		   width:73px;
		   color:gray;
		   margin:auto;
           padding: 4px 4px;
           cursor: pointer;
}
/* header end */

/* search start */
.search1 {
    width: 550px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    margin-left: 35px;
    display: flex;
    
}
.search2 {
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 7px;
}
.search3 {
    line-height: 1.15;
    padding: 0px;
    border: 0px;
    background-color: white;
    flex-grow: 1;
    direction: ltr;
    text-align: left;
    letter-spacing: -0.5px;
    outline: 0px;
    margin-left: 20px;
    font-family: 'koverwatch';
    font-size: 18px;
}
.searchicon{
	width: 30px;
    height: 30px;
    display:flex;
}
.exx {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border: none;
    display: none;
}
/* search end */

/* 채팅하기, 판매하기, 신고하기, 내상점 정렬 start */
.sun_wrap{
    width:1000px;
    margin:0 auto;
    text-align:center;
}
.sun_wrap_div{
    float: left;
    position: relative;
    top: 35px;
}
.sun_wrap_li{
    float:right;
}
#sun_wrap_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 16px 0px;
    list-style: none;
}
#sun_wrap_ul > li {
    padding: 0 14px;
}

#sun_wrap_ul a{
	display: flex;
	width:90px;
	font-size: 21px;
	margin-left: 30%;
}

.catename {
    margin: 0;
    padding: 0;
    font-size: 20px;
    top: 0;
}
.sun_wrap_li > ul img {
    margin-right: 10px;
    width: 23px;
    height: 25px;
}
.sun_wrap_div_cate > span {
    width: 22px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 6px;
}
/* 채팅하기, 판매하기, 신고하기, 내상점 정렬 start */

/*계좌등록 alert*/
.swal2-select{
	font-family: 'koverwatch';
}
.swal2-input{
	font-family: 'koverwatch';
}
/*계좌등록 alert*/

/* category start */
.catebox3 {
    width: 780px;
    padding-right: 118px;
    padding-left: 118px;
    height: 230px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid lightgray;
}
.inner-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    flex-wrap: wrap;
    align-items:flex-end;
    height: 174px;
    padding: 0px;
    margin-left: 100px;
    margin-top: -30px;

}
.inner-menu > li {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-start;
    min-width: 15%;
    padding: 0 14px
}
.inner-menu > li > a {
    text-align: center;
}
/* category end */