@charset "UTF-8";


/* navBar start */
.navBar {
    position: fixed;
    top: 130px;
    right: calc(50% - 680px);
    z-index: 1050;
}

/* 찜한 상품 */
.favorites {
    padding: 10px 0px;
    background: white;
    margin: 10px 0px;
    width: 120px;
    height: 50px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}

.favoritesText {
    text-align: center;
    font-size: 18px;
    height: 50%;
    margin-top:7px;
}

.favoritesCount {
    color: #666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
}

.toFavorites{
    display: inline-block;
}

/* 최근 본 상품 */

.recentlyProduct {
    text-align: center;
    margin-top: 10px;
}

#recentlyCnt {
    display: inline-block;
    padding-bottom: 6px;
    width: 30px;
    border-bottom: 2px dotted rgb(136, 136, 136);
    margin-bottom: 10px;
}

#recentlyList .recentlyImage {
	height: 70px;
    width: 70px;
    cursor: pointer;
    object-fit: cover;
    margin-top: 6px;
}

#recentlyArea{
	margin-bottom: 10px;
}

.recently {
    background: white;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 120px;
    border: 1px solid gray;
}

.recentlyText {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.recentlyCnt {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

.toRecently {
    color: rgb(247, 0, 0);
}

/* TOP */
.theTop {
    margin: 10px 0px;
    width: 120px;
    padding: 6px 0;
    font-size: 20px;
    border: 1px solid gray;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    height: 20px;
}

.topText {
    cursor: pointer;
    margin: 0px 0px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: inline-flex;
}


/* nav end */