@charset "UTF-8";


/* navBar start */
.navBar {
    position: fixed;
    top: 130px;
    right: calc(50% - 680px);
    z-index: 1050;
}

/* 찜한 상품 */
.nfavorites {
    padding: 10px 0px;
    background: white;
    margin: 10px 0px;
    width: 120px;
    height: 50px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nfavoritesText {
    text-align: center;
    font-size: 18px;
    height: 50%;
    margin-top:7px;
}

.nfavoritesCount {
    color: #666;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30%;
}

.ntoFavorites{
    display: inline-block;
}

/* 최근 본 상품 */

.nrecentlyProduct {
    text-align: center;
    margin-top: 10px;
}

#nrecentlyCnt {
    display: inline-block;
    padding-bottom: 6px;
    width: 30px;
    border-bottom: 2px dotted rgb(136, 136, 136);
    margin-bottom: 10px;
}

#nrecentlyList  {
    cursor: pointer;
    object-fit: cover;
    margin-top: 6px;
    list-style: none;
    padding: 0px;
}
.nrecentlyImage {
	height: 70px;
    width: 70px;
	cursor: pointer;
	margin-top: 8px;
	overflow-y:hidden;
    object-fit: cover;
}


#nrecentlyArea{
	margin-bottom: 10px;
	overflow-y: hidden;
	max-height: 245px;
}

.nrecently {
    background: white;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 120px;
    border: 1px solid gray;
    border-radius: 10px;
}

.nrecentlyText {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.nrecentlyCnt {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

.ntoRecently {
    color: rgb(247, 0, 0);
}

.Btm {
	background: beige;
    outline: none;
    border: none;
    cursor: pointer;
}

/* TOP */
.ntheTop {
    margin: 10px 0px;
    width: 120px;
    padding: 6px 0;
    font-size: 20px;
    border: 1px solid gray;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    height: 20px;
    border-radius: 10px;
}

.ntopText {
    cursor: pointer;
    margin: 0px 0px;
    text-align: center;
    color: black;
    text-decoration: none;
}




/* nav end */