@charset "UTF-8";
    
body {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightgray;
}
.main-area {
    width: 40%;
    height: 370px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 2px 10px -3px black;
    border-radius: 5px;
    margin-bottom: 20px;
}
.bottom-margin {
    margin-bottom: 50px;
    color: red;
}
.number-form {
    position: relative;
    font-family: 'Noto Sans KR',sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
}
.int-area {
    width: 400px;
    position: relative;
    margin-top: 60px;
}
.int-area: first-child {
    margin-top: 0;
}
.int-area .inputType1 {
    width: 100% ;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size : 18px;
    outline: none;
}
.int-area label{
   position: absolute;
   left: 10px;
   top: 15px;
   font-size: 18px;
   color:# 999;
   transition: all 0.5s ease;
}
.int-area label.warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
}

.int-area input: focus {
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid rgb(0, 0, 0);
    }

.int-area input:focus+label,
.int-area input:valid+label {
    top: -2px;
    font-size: 13px;
    color: blue;

}
.submitButton {
    margin-top: 40px;
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.submitButton: hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}
#timer {
    margin: auto;
    width: 50% ;
    height: 30px;
    color: lightBlue;
    margin-top: 20px;
    font-weight: 700;

}