@charset "UTF-8";

.followAddOrSubBox {
	margin: auto;
	border: 1px solid rgb(211, 206, 206);
	width: 270px;
	height: 60px;
	margin-left: 260px
}

.followBtn-sell {
	border: none;
	background-color: white;
}

.followBtn-sell:hover {
	cursor: pointer;
	border: 3px solid rgb(241, 238, 238);
}

#mForm {
	border: 1px !important;
	margin: auto !important;
	padding-left: 50px !important;
}

.sun_wrap_li>ul img {
	margin-top: 5px !important;
}

.catebox3 {
	 width: 1000px !important;
}

.inner-menu {
	width: 700px !important;
}

.catebox.cate1, .catebox.cate2, .catebox.cate3, .catebox.cate4 {
	margin-right: 40px;
}

.catebox.cate7, .catebox.cate9, .catebox.cate10 {
	margin-left: 30px;
}

.catebox.cate8 {
	margin-left: 50px;
}

.market-open img {
	margin-top: 5px;
}

.search2 {
	margin-top: 0px !important;
}

.nfavorites {
	padding: 5px 0px !important;
	padding-top: 10px !important;
	height: 80px !important;
}

.ntheTop {
	height: 40px !important;
}
.market-name{
	justify-content : space-between;
}
.reportBtn{
	font-size : 20px;
	color : grey;
	cursor:pointer;
}
.reportBtn:hover{
	
	color : black;
}
.inline-flex {
	display: inline-grid !important;
	margin: .5em !important;
}
