<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 카멜 케이스 VO 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.kh.tresure.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.tresure.chat.model.vo.ChatRoom" alias="chatRoom"/>
		<typeAlias type="com.kh.tresure.chat.model.vo.ChatMessage" alias="chatMessage"/>
		<typeAlias type="com.kh.tresure.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/>
		<typeAlias type="com.kh.tresure.chat.model.vo.Block" alias="block"/>
		<typeAlias type="com.kh.tresure.sell.model.vo.Sell" alias="sell"/>
		<typeAlias type="com.kh.tresure.sell.model.vo.SellImg" alias="sellImg"/>
		<typeAlias type="com.kh.tresure.mypage.model.vo.MyPage" alias="mypage"/>
		<typeAlias type="com.kh.tresure.heart.model.vo.Heart" alias="heart"/>
		<typeAlias type="com.kh.tresure.review.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.tresure.follow.model.vo.Follow" alias="follow"/>

		<typeAlias type="com.kh.tresure.report.model.vo.Report" alias="report"/>
		<typeAlias type="com.kh.tresure.sell.model.vo.Category" alias="category"/>
		

	</typeAliases>
	
	<!-- 메퍼 파일 등록 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/chatting-mapper.xml"/>
		<mapper resource="/mappers/sell-mapper.xml"/>
		<mapper resource="/mappers/mypage-mapper.xml"/>
		<mapper resource="/mappers/heart-mapper.xml"/>
		<mapper resource="/mappers/review-mapper.xml"/>
		<mapper resource="/mappers/follow-mapper.xml"/>
		
	</mappers>

</configuration>