<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.kh.tresure.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.tresure.chat.model.vo.ChatRoom" alias="chatRoom"/>
		<typeAlias type="com.kh.tresure.sell.model.vo.Sell" alias="sell"/>
		<typeAlias type="com.kh.tresure.sell.model.vo.SellImg" alias="sellImg"/>
		<typeAlias type="com.kh.tresure.mypage.model.vo.MyPage" alias="mypage"/>
		<typeAlias type="com.kh.tresure.heart.model.vo.Heart" alias="heart"/>
	</typeAliases>
	
	<!-- 메퍼 파일 등록 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/chatting-mapper.xml"/>
		<mapper resource="/mappers/sell-mapper.xml"/>
		<mapper resource="/mappers/mypage-mapper.xml"/>
		<mapper resource="/mappers/heart-mapper.xml"/>
		
	</mappers>

</configuration>